@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form>
            <input type="file" class="upload" size="45" name="file" id="file">
    </form>
    <div class="row py-4 my-4">
        <div class="col-6">結果</div>
        <div class="col-6">
            <input class="form-control"/>
        </div> 
    </div>
    <button class="btn btn-primary">登録</button>
</div>
